@page "/Medicaments/Edit/{id:int}"
@using metiers
@inject MedicamentServices MedicamentServices
@inject NavigationManager Navigation
@inject IJSRuntime JS

<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 p-4">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-2xl overflow-y-auto">
        <!-- Header -->
        <div class="flex items-center justify-between border-b p-4">
            <h3 class="text-lg font-semibold text-[#50bfa2]">Update medicine</h3>
            <button @onclick="Cancel" class="text-gray-400 hover:text-[#50bfa2]">
                <svg class="w-4 h-4" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6" />
                </svg>
            </button>
        </div>

        @if (IsLoading)
        {
            <div class="p-6 text-center text-gray-500">Loading...</div>
        }
        else
        {
            <!-- Form -->
            <EditForm Model="medicament" OnValidSubmit="HandleUpdate" class="px-6 py-4 space-y-4">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-red-500" />

        
                <div>
                    <label class="block mb-1 text-sm font-normal text-gray-500"> Name</label>
                    <InputText @bind-Value="medicament.Nom"
                               class="w-full p-2 border rounded-lg focus:outline-none focus:ring-1 focus:ring-[#50bfa2] focus:border-[#50bfa2]" />
                </div>

                <div>
                    <label class="block mb-1 text-sm font-normal text-gray-500">Description</label>
                    <InputText @bind-Value="medicament.Description"
                               class="w-full p-2 border rounded-lg focus:outline-none focus:ring-1 focus:ring-[#50bfa2] focus:border-[#50bfa2]" />
                </div>

                            <div>
                    <label class="block mb-1 text-sm font-normal text-gray-500">Stock</label>
                    <InputNumber @bind-Value="medicament.Stock"
                               class="w-full p-2 border rounded-lg focus:outline-none focus:ring-1 focus:ring-[#50bfa2] focus:border-[#50bfa2]" />
                </div>

                <!-- Buttons -->
                <div class="flex justify-end space-x-2 border-t pt-4">
                    <button type="button" @onclick="Cancel"
                            class="bg-gray-300 hover:bg-gray-200 px-5 py-2.5 rounded-lg text-sm font-normal text-[#6f7885]">
                        Cancel
                    </button>

                    <button type="submit"
                            class="bg-[#50bfa2] hover:bg-[#95dbc8] text-white px-5 py-2.5 rounded-lg text-sm font-medium">
                        Update
                    </button>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    [Parameter] public int id { get; set; }

    private Medicament medicament { get; set; } = new Medicament();
    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        // Charger le Medicament existant
        var existing = await MedicamentServices.GetMedicamentAsync(id);

        if (existing != null)
        {
            medicament = existing;
        }

        // Récuperer MedecinID depuis localStorage
        string medId = await JS.InvokeAsync<string>("localStorage.getItem", "userId");
        medId = medId?.Trim('"', '{', '}', ' ');

        if (Guid.TryParse(medId, out Guid guid))
        {
            medicament.UserID = guid;
        }

        IsLoading = false;
    }

    private async Task HandleUpdate()
    {
        var result = await MedicamentServices.UpdateMedicament(medicament);

        if (result)
            Navigation.NavigateTo("/Medicaments/ListMedicaments");
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/Medicaments/ListMedicaments");
    }
}

